<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Time-series-for-demand-prediction" data-toc-modified-id="Time-series-for-demand-prediction-1">Time series for demand prediction</a></span></li></ul></div>

# Time series for demand prediction

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import numpy as np
import seaborn as sns
from h3 import h3

from pylab import rcParams
rcParams['figure.figsize'] = (10, 7)

import pandas as pd
pd.set_option('max_columns', 40)
pd.set_option('max_rows', 20)
pd.set_option('precision', 3)

In [6]:
%%time

data = pd.read_feather('clean_data.feather', columns=[
                       'datetime', 'lon', 'lat', 'h3_res8'])

data = data.sample(100000)

data.head()

CPU times: user 9.54 s, sys: 18.1 s, total: 27.6 s
Wall time: 1min 17s

                    datetime     lon     lat          h3_res8
61707763 2015-06-23 22:16:06 -73.998  40.740  882a100d25fffff
30160889 2015-03-27 07:30:02 -73.960  40.763  882a100d45fffff
9324765  2015-01-29 12:32:48 -74.009  40.706  882a107289fffff
10826857 2015-02-02 10:17:50 -73.986  40.767  882a1008b3fffff
23664750 2015-03-09 07:59:06 -73.936  40.796  882a1008dbfffff